<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To-Do List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="\styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="box" id="heading">
    <h1>To-Do List</h1>
    <p style="color: aliceblue;"><strong><%=listTitle%></strong></p>

</div>

    <div class="box" >
        <ul>
            <%   for(var i=0; i<newListItem.length ;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItem[i] %></p>

                </div>
                

         <%   } %>
        </ul>

        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New task:">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
        
        <script src="" async defer></script>
    </body>
</html>